@model IEnumerable<St.Marys_Donor.Models.Patient>


@{
    ViewData["Title"] = "Index";

}

<body>
    @foreach (var patient in Model)
    {
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front ">
                <img src="~/images/@patient.ProfilePicture" alt="Avatar" style="height: 300px; width: 300px;">
            </div>
            <div class="flip-card-back " style="height: 300px; width: 300px;">
                <h1>@patient.FirstName</h1>
                    <p>@patient.Bio</p>
                    <a asp-action="Details" asp-route-id="@patient.Id">Details</a>
                <a asp-action="CreateBlog" asp-route-id="@patient.Id">Blog</a>
            </div>
        </div>
        </div>
    }
</body>

