@{
    ViewData["Title"] = "Home Page";
}

<body>

    <div class="container">
        <div>
            <div id="imageCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover" data-wrap="true">
                <ol class="carousel-indicators">
                    <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#imageCarousel" data-slide-to="1"></li>
                    <li data-target="#imageCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/images/ThreeOne.jpg" style="width: 100%;" />
                    </div>
                    <div class="item">
                        <img src="~/images/ThreeTwo.jpg" style="width: 100%;" />
                    </div>
                    <div class="item">
                        <img src="~/images/ThreeThree.jpg" style="width: 100%;" />
                    </div>
                </div>
            </div>
            <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

            
        </div>
    </div>
    <h1>Our Mission</h1>
    <p>
        Coonecting those in need with willing donors
    </p>
    <h1>About Us</h1>
    <p>
        At St Mary's we are a non-profit looking to bring patients who are in need of organs that can be transplanted from live donors together with those donors.
    </p>
    <h1>Success Stories</h1>
    <p>
        <br /> Success Story
        <br />          Success Story
        <br />  Success Story
    </p>

    <div>

    </div>

</body>

